<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %} {{title}} {%else%} LOGIN{%endif%}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/login.css/">
</head>

<body>
    <section>
        <div class="image"></div>
        <form method="post">
            <h2><span>.Connectez</span>-vous</h2><br> <br>

            <label>Adresse mail</label>
            <input type="email" id="mail" name="mail">

           

            <label>Mot de passe</label>
            <input type="password" id="passwd" name="passwd"><br ><br>
            
            
            
            <button>Connexion</button><br><br>
            <footer><p><a href="C:\Users\nixon\OneDrive\Bureau\DEVOIR\templates\home.html">...Retour à la page d'accueil</a></p></footer>

        </form>
        <p class="request_message">Veuillez remplir tous les champs !</p>
    </section>
    
</body>
</html>